*{
    margin: 0;
}

.body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif !important;
}

li {
    list-style-type: none;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar .logo{
    margin:20px;
    height: 80px;
}

.navbar{
    background-color: #133667;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    max-height: 10vh;
}

.porfolio-navbar-links {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:30%;
    font-size: 30px;
}

.footer {
    background-color: #133667;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 40%;
    height: 10vh;
    
}

.footer .logo{
    height : 40px;
    filter:  brightness(0) invert(1);
    transition: all .2s ease-in-out;
}  

.footer .logo:hover{
    filter:  brightness(0) invert(0);
}

#content {
    height: 80vh;
    width: 100%;
    background-color: #ebebeb;
}

.profile-pic{
    border-radius: 50%;
}

.container{
    height:100%;
}

.row {
    display: flex;
    align-items: center;
    height: 100%;
}

.full-h{
    height:100%;
}

.PR-5 {
    padding-right: 5rem;
}