{% extends "base.html" %}


{% block content2 %}
  <div class="projects">
    <div class="d-flex  mt-5 justify-content-center">
      <div class="d-flex flex-column align-items-center">
        <img class="profile-pic" src="static/img/logo.jpg" width="350px">
        <p class="h4 italic-text mt-3">{{ data['name'] }}</p>
      </div>
      <div class="about-me-text mt-5 ms-5 ">
        <h2 class=" bold-text">About me...</h2>
        <p class="mt-5 ">
          {{data['bio']}}
        </p>
      </div>
    </div>
    <div class="w-80 mt-5">
      <h2 class="border-bottom border-dark">Hobbies</h2>
      <ul class="list">
        {% for hobbie in data['hobbies'] %}
          <li>{{ hobbie }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="w-80 mt-5">
      <h2 class="border-bottom border-dark">Skills</h2>
      <ul class="list">
        {% for skill in data['skills'] %}
          <li>{{ skill }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="w-80 mt-5">
      <h2 class="border-bottom border-dark">Some places I've been at...</h2>
    </div>

    <div id="map" class="w-80 mb-5 mt-3"></div>

    <script type="module" src='../static/scripts/map.js'></script>
  </div>
      
{% endblock %}