<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <title>My Portfolio</title>
</head>
<body>
    <nav class= "navbar">
        <div class="navbar-container">
            <a href="/">
                <img class="logo" src= "static/img/logo.svg" height="80px"/>
            </a>
            <div class = "porfolio-navbar-links marginr ">
                <li>
                    <a href="/about-me">About Me</a>
                </li>
                <li>
                    <a href="/education-and-work-expirience">Work Expirience & Education</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
            </div>    
        </div>
    </nav>
    
    {% if landing_page == True %}
        <div class="wrapper">
            <div id="particles-js"></div>
            <div class= "content-container">
                {% block content %}{% endblock %}
            </div>
        </div>
    {% else %}
        <div class="wrapper">
            <div id="particles-js"></div>
            <div class= "container d-flex flex-column">
            {% block content2 %}{% endblock %}
            </div>
        </div>
    {% endif %}   
    
    
    <div class = "footer">
        <h3 class="contact-me-footer">Contact Me:</h3>
        <div class="footer-links">
            <li>
                <a href={{ data['instagram'] }}>
                    <img class="logo" src="static/img/instagram.svg"/>
                </a>
            </li>
            <li>
                <a href={{ data['github'] }}>
                    <img class="logo" src="static/img/github.svg"/>
                </a>
            </li>
            <li>
                <a href={{ data['twitter'] }}>
                    <img class="logo" src="static/img/twitter.svg"/>
                </a>
            </li>
            <li>
                <a href={{ data['linkedin'] }}>
                    <img class="logo" src="../static/img/linkedin.svg"/>
                </a>
            </li>
        </div>
        <p>Copyright © 2022 by Melisa Crnica & Brandon Magaña</p>
    </div>
    <script src="../static/scripts/particles.min.js"></script>
    <script>
        window.particlesJS.load('particles-js', './static/scripts/particlesjs.json', function(){
          console.log('particles.json loaded...');
        });
      </script>
</body>
</html>