{% extends "base.html" %}

{% block content %}
  <div class="row">

    <div class="col-6 d-flex flex-column justify-content-center">
      <div class="landing-page-description">
        <p>Hey there my name is </p>
        <div class="name">
          <h2> >{{ data['name'] }} </h2>
        </div>
        <p>{{ data['description'] }} </p>
      </div>
    </div>

    <div class="col-6 d-flex  justify-content-end">
      <img class="profile-pic" src={{ data['profile_photo']}} width="500px">
    </div>
  
  </div>
{% endblock %}
