{% extends "base.html" %}


{% block content2 %}
  <h1 class="mt-3 bold-text">Work Expirience</h1>
  {% for project in data['projects'] %}
    <div class="projects mb-5">
      <div class="project mt-5 pt-3 pb-3  d-flex justify-content-center rounded">
        <img class="project-logo ps-5 pe-5" height="80px" src={{ project['photo'] }}/>

        <div class="description pb-0">
          <h2 class="bold-text">{{ project['title'] }}</h2>
          <p>
            {{ project['description'] }}
          </p>
          <div class="github d-flex justify-content-end pe-5 pb-3">
            <a class="link" href="{{ project['link'] }}">
              <img class="logo" height="30px" src="static/img/github.svg"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}